html {
  background-color: white;
}

body {
  margin: 0;
}

.container {
  width: 100%;
  background-color: rgb(229, 231, 235);
  height: 10rem;
  color: rgb(254, 94, 8);
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

input {
  background: transparent;
  border: none;
  color: white;
  border-bottom: solid;
  border-width: 1px;
  border-color: white;
  font-size: large;
}

a:hover {
  text-decoration: underline !important;
}

button:hover {
  background-color: #fb651e !important;
}

button {
  border: none;
  font-size: large;
  margin: 10px;
  background: white;
  border-radius: 4px;
}
